<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}
        Task Tracker
      {{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar">
      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser.user}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{currentUser.user.email}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Something</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" {{action (action logout)}}>Log out</a></li>
            </ul>
          </li>
        {{else}}
          {{#link-to 'login' class="btn btn-primary btn-navbar-action"}}Login{{/link-to}}
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
