.alert {
  border-radius: 1px;
}

.alert-danger {
  background: #E74D4D;
  color: #fff;
  border: 0px;
  font-size: 1.2rem;
}

.offset-top {
  margin-top: 1rem;
}

.inline-block {
  display: inline-block;
}
