@import "login-signup";
@import "buttons";
@import "forms";
@import "navbar";

body {
  font-family: 'Arvo', serif;
  background: #fff;
  color: #000;
}

a.tt-link  {
  color: gray;

  &:hover {
    color: gray;
  }
}
